<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>full-stack developer</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1><strong>Welcome!</strong></h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/gallery/1">Projects</a>
    <a href="/gallery/2">Connect with me</a>
    <a href="/gallery/3">Resume</a>
    <a href="/gallery/4">About me</a>
  </nav>
  <main>
    <aside>
      <img src="images/profile_4.JPEG" alt="">
      <h4>Welcome!</h4>
      <h6>Hello, my name is Chue Chang, I am full-stack developer currently enroll in the University of Minnesota coding bootcamp.</h6>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
</body>

</html>